body{
        /* background: #eef0f2; */
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80%;
        /* background: url(images/background.jpeg) no-repeat;
       background-size: 100% 100%; */
       background-color: rgb(88, 90, 89);
}

.container{
        display:flex;
        align-items: center;
        gap: 50px;
        padding: 10px 10px 20px 10px;
}

.arrow {
        height:50px;
        cursor: pointer;
}

.right{
        height:50px;
        cursor: pointer;
        transform: rotate(180deg);
}

.frame{
        width:500px;
        height:750px;
        overflow:hidden;
        box-shadow:-1px 1px 10px rgba(0, 0, 0, 1)
}

.slider{
        display:flex;
        transition:all 1s ease;
}

.image{
        height: 100%;
        width:100%
        /* object-fit: auto; */
}

.onepiece{
        height:30vh;
}
.windbreaker{
        height:27vh;
}
.silentvoice{
        /* width:100wh; */
        height:30vh;
}
.spy{
        height: 30vh;     
}